 <main> 
  <section class="section-slider alpins-slider light section-full-width-left" data-slider-parallax="true" data-interval="0">
            <div class="background-slider">
                <div class="active" style="background-image:url(assets/media/hd-4.jpg)"></div>
                <div style="background-image:url(assets/media/hd-4.jpg)"></div>
                <div style="background-image:url(assets/media/hd-6.jpg)"></div>
                <div style="background-image:url(assets/media/hd-7.jpg)"></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <ul class="slider" data-options="type:slider,nav:true,arrows:true,perView:3,perViewLg:2,perViewSm:1,gap:30,controls:out">
                            <li class="media-box media-box-reveal" data-anima="scale" data-trigger="hover">
                                <a>
                                    <img class="anima" src="assets/media/long-4.jpg" alt="">
                                    <div class="caption">
                                        <h2>Piedras Blancas</h2>
                                        <div class="extra-field">Por 25.000 CLP</div>
                                        <h3>Chile</h3>
                                        <p>
                                            Romulo C. <br> Guía de Tours.
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="media-box media-box-reveal" data-anima="scale" data-trigger="hover">
                                <a>
                                    <img class="anima" src="assets/media/long-1.jpg" alt="">
                                    <div class="caption">
                                        <h2>Valle conde</h2>
                                        <div class="extra-field">Por 25.000 CLP</div>
                                        <h3>Chile.</h3>
                                        <p>
                                          Jhon H. <br> Guía de Tours.
                                        </p>
                                    </div>
                                </a>
                            </li>
                              <li class="media-box media-box-reveal" data-anima="scale" data-trigger="hover">
                               <a>
                                    <img class="anima" src="assets/media/long-3.jpg" alt="">
                                    <div class="caption">
                                        <h2>Termas Medanos</h2>
                                        <div class="extra-field">Por 20.000 CLP</div>
                                        <h3>Chile</h3>
                                        <p>
                                            Alejandro D.<br> Guía de Tours.
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="media-box media-box-reveal" data-anima="scale" data-trigger="hover">
                                <a>
                                    <img class="anima" src="assets/media/long-7.jpg" alt="">
                                    <div class="caption">
                                        <h2>Embalse Yeso</h2>
                                        <div class="extra-field">Por 25.000 CLP</div>
                                        <h3>Chile</h3>
                                        <p>
                                            Vive la mejor experiencia.
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="media-box media-box-reveal" data-anima="scale" data-trigger="hover">
                                <a>
                                    <img class="anima" src="assets/media/long-2.jpg" alt="">
                                    <div class="caption">
                                        <h2>Cascada deseos</h2>
                                        <div class="extra-field">Por 25.000 CLP</div>
                                        <h3>Chile</h3>
                                        <p>
                                            Conectate con la naturaleza.
                                        </p>
                                    </div>
                                </a>
                            </li>
                           
                           
                        </ul>
                    </div>
                    <div class="col-lg-6" data-anima="fade-left" data-time="2000">
                        <h1 class="text-lg text-uppercase text-black">Las huellas de nuestro equipo</h1>
                        <p>
                            Reserva tu viaje. Vive el día, disfruta de la montaña, disfruta de la vida 
                        </p>
                        <a href="treks.html" class="btn btn-sm btn-circle">TOUR</a> <a href="about.html" class="btn btn-sm btn-circle btn-border">Nuestros Guias</a>
                        <hr class="space hidden-md" />
                    </div>
                </div>
            </div>
        </section>
        </main>