

<main>
	 <nav class="menu-classic menu-fixed menu-transparent light align-right" data-menu-anima="fade-in" style="z-index: 995; position: relative;background:linear-gradient(to bottom, rgba(0,0,0,0.35) 0%, rgba(0,0,0,0.15) 70%,rgba(0,0,0,0) 100%)">
        <div class="container" style="height:100%;">
            <div class="menu-brand">
                <a href="index.html#">
                    <img class="logo-default scroll-hide" src="assets/media/logo-white-solid.png" alt="logo" />
                    <img class="logo-retina scroll-hide" src="assets/media/logo-white-solid.png" alt="logo" />
                    <img class="logo-default scroll-show" src="assets/media/logo-white-solid.png" alt="logo" />
                    <img class="logo-retina scroll-show" src="assets/media/logo-white-black.png" alt="logo" />
                </a>
            </div>
            <i class="menu-btn"></i>
            <div class="menu-cnt">
                <ul id="main-menu">
                    <li><a routerLink="about">Quienes somos</a></li>
                    <li><a href="treks.html">Destinos</a></li>
                    <li> <a href="blog.html">Blog</a></li>
                    <li> <a href="contacts.html">Contacto</a></li>
                </ul>
            
                 <div class="menu-right">
                    <ul class="lan-menu">
                        <li class="dropdown">
                            <a href="tel:+56 9 5824 9250"><img class="animated infinite tada delay-15s" src="assets/media/phone.png" alt="phone" /></a>
                          <!--   <ul>
                                <li>LLÁMANOS</li>
                                <li>9 5824 9250</li>
                            </ul> -->
                        </li>
                    </ul>
                </div>               
            </div>

        </div>
    </nav>
</main>

