  


       <header id="home">

        <!-- Start Navigation -->
        <nav class="navbar navbar-default attr-border navbar-sticky bootsnav">

           <div class="container">

                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul>
                        <!-- <li class="search"><a href="index.html#"><i class="fa fa-search"></i></a></li> -->
                        <li class="side-menu"><a href="index.html#"><i class="fa fa-bars"></i></a></li>
                    </ul>
                </div>        
           
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/logo.png" class="logo" alt="Logo">
                    </a>
                </div>
         
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                     
                        <li class="dropdown">
                            <a href="index.html#" class="dropdown-toggle active" data-toggle="dropdown" >Consultorio</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a href="about-2.html">Quienes somos</a>
                                </li>
                                <li class="dropdown">
                                    <a href="services-2.html">Especialidades</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="gallery-masonary-3-colum.html">Galeria</a>
                        </li>
                        <li class="dropdown">
                            <a href="blog-left-sidebar.html" class="dropdown-toggle" data-toggle="dropdown" >Blog</a>
                            <ul class="dropdown-menu">
                                <li><a href="blog-single-left-sidebar.html">Detalle de articulo</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="contact.html">contacto</a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
    </header>

    