<main>
    <section class="section-base">
            <div class="container">
                <div class="title align-center">
                    <h2>¿POR QUÉ ELEGÍRNOS?</h2>
                    <p>Brindamos la mejor experiencia</p>
                </div>
                <table class="table table-grid table-border table-6-md">
                    <tbody>
                        <tr>
                            <td>
                                <div class="icon-box icon-box-top align-center">
                                    <i class="im-people-oncloud"></i>
                                    <div class="caption">
                                        <h3>Equipo experimentado</h3>
                                        <p>Siempre vivimos dentro de nuestra increíble naturaleza</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="icon-box icon-box-top align-center">
                                    <i class="im-address-book"></i>
                                    <div class="caption">
                                        <h3>Booking</h3>
                                        <p>Reservaciones en linea, solo en 2 click</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="icon-box icon-box-top align-center">
                                    <i class="im-trekking"></i>
                                    <div class="caption">
                                        <h3>Excursionistas expertos</h3>
                                        <p>Viaja de la mano de nuestro equipo experto</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="icon-box icon-box-top align-center">
                                    <i class="im-tram"></i>
                                    <div class="caption">
                                        <h3>Servicio de transporte</h3>
                                        <p>Descubre lugares naturales escondidos con nuestros tours</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="icon-box icon-box-top align-center">
                                    <i class="im-medicine"></i>
                                    <div class="caption">
                                        <h3>Cruz roja</h3>
                                        <p>Botiquín de primeros auxilios</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="icon-box icon-box-top align-center">
                                    <i class="im-coffee"></i>
                                    <div class="caption">
                                        <h3>Snacks y bebidas</h3>
                                        <p>Tu viaje con recarga alimenticia</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="icon-box icon-box-top align-center">
                                    <i class="im-photos"></i>
                                    <div class="caption">
                                        <h3>Fotos</h3>
                                        <p>Nos tomamos el tiempo para que tengas recuerdos</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="icon-box icon-box-top align-center">
                                    <i class="im-map2"></i>
                                    <div class="caption">
                                        <h3>Descubre</h3>
                                        <p>Todos nuestros servicios <br>
                                        <a href="about.html">Ver más</a>
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>