<main>        
        <section class="section-base">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="title">
                            <h2>Que ofrecemos?</h2>
                            <p>Tours y Viajes</p>
                        </div>
                        <p>
                             Viaja y conoce la magnificencia que los ANDES nos brinda. Vive junto a nosotros la mejor asistencia y conducción para turistas.
                        </p>
                        <a href="treks.html" class="btn btn-sm btn-circle btn-icon"><i class="im-geo2-love"></i>Ver DESTINOS</a>
                    </div>
                    <div class="col-lg-8">
                        <ul class="accordion-list" data-open="1">
                            <li>
                                <a href="#">Nuestra ubicación</a>
                                <div class="content">
                                    <p>
                                        Somos una empresa de viaje internacional, nuestra sede se encuentra en la ciudad de Santiago de Chile.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">Sobre nuestras caminatas y viajes</a>
                                <div class="content">
                                    <p>
                                        Viajes y TOURS diseñados FULL DAYS para todo público. <br> Coordinado desde la salida hasta el retorno, con asistencia personalizada. 
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">Sobre nuestro equipo e invitados</a>
                                <div class="content">
                                    <p>
                                        Contamos con un capital humano profesional en el área de escursiones, escaladas y seguridad de riesgos.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a href="#">Cómo llegar con seguridad a su destinos</a>
                                <div class="content">
                                    <p>
                                        Incluimos transporte con seguro de viaje, Guias y coordinador para llegar al destino seleccionado.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
</main>